In [46]:
import pandas as pd

df = pd.read_csv(r'C:\Users\davev\OneDrive\Projects\tennispredictor\data\processed\features.csv')

In [48]:
df

,result,id_home,id_away,age_home,age_away,round_ordinal,month_sin,month_cos,month_5,month_6,month_9,month_10,surface_Clay
0,away,15229,15963,17.620808,38.431211,4,5.000000e-01,-0.866025,True,False,False,False,True
1,home,15963,15229,38.431211,17.620808,4,5.000000e-01,-0.866025,True,False,False,False,True
2,away,14527,14341,4.613279,38.447639,4,5.000000e-01,-0.866025,True,False,False,False,True
3,home,15300,14420,8.224504,27.162218,4,5.000000e-01,-0.866025,True,False,False,False,True
4,home,14341,14527,38.447639,4.613279,4,5.000000e-01,-0.866025,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5235,away,57163,14882,22.819986,30.458590,9,1.224647e-16,-1.000000,False,True,False,False,True
5236,away,14882,206570,30.464066,43.756331,10,1.224647e-16,-1.000000,False,True,False,False,True
5237,home,206570,14882,43.756331,30.464066,10,1.224647e-16,-1.000000,False,True,False,False,True
5238,home,275923,206570,38.294319,43.761807,11,1.224647e-16,-1.000000,False,True,False,False,True
5239,away,206570,275923,43.761807,38.294319,11,1.224647e-16,-1.000000,False,True,False,False,True

In [50]:
corr_with_y = df.corrwith(df['result'].map({'away': 0, 'home': 1}))
print(corr_with_y)

ValueError: could not convert string to float: 'away'

In [42]:
df = pd.read_csv(r'C:\Users\davev\OneDrive\Projects\tennispredictor\data\processed\games.csv')

In [43]:
df

,finished,result,homeTeamScore,awayTeamScore,id,events,seriesStartDate,home_id,away_id,round_description,tournamentName,uniqueTournament
0,True,3:0,3,0,390606,[6749490],2015-05-26 13:55:00,14882,14326,R128,"Roland Garros, Paris, France",Roland Garros
1,True,3:2,3,2,390596,[6749491],2015-05-26 15:45:00,14646,14914,R128,"Roland Garros, Paris, France",Roland Garros
2,True,1:3,1,3,390624,[6749935],2015-05-25 12:20:00,26204,71280,R128,"Roland Garros, Paris, France",Roland Garros
3,True,1:3,1,3,390608,[6749933],2015-05-25 11:05:00,17832,17080,R128,"Roland Garros, Paris, France",Roland Garros
4,True,3:0,3,0,390571,[6749937],2015-05-26 12:30:00,14414,25799,R128,"Roland Garros, Paris, France",Roland Garros
...,...,...,...,...,...,...,...,...,...,...,...,...
2615,True,2:0,2,0,2764928,[13929123],2025-05-23 10:30:00,248861,92074,Q,"French Open, Paris, France, Qualifying",Roland Garros
2616,True,2:1,2,1,2764935,[13930473],2025-05-23 12:50:00,341820,335102,Q,"French Open, Paris, France, Qualifying",Roland Garros
2617,True,0:2,0,2,2764942,[13929464],2025-05-23 12:00:00,141882,26204,Q,"French Open, Paris, France, Qualifying",Roland Garros
2618,True,2:0,2,0,2764949,[13929741],2025-05-23 09:00:00,237188,146040,Q,"French Open, Paris, France, Qualifying",Roland Garros
2619,True,1:2,1,2,2764956,[13924775],2025-05-22 13:50:00,322022,264358,Q,"French Open, Paris, France, Qualifying",Roland Garros